{% extends 'curator/base.html' %}

{% block title %}
    Album Collection
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4 text-capitalize">Hello, {{  user.username}}!</h1>
        <p class="lead">Welcome to your Album Collection!.</p>
        <hr class="my-4">
        <p>These are all the albums you've added.</p>
        {% for Album in Albums %}
             <h5>Album: {{Album.title}}</h5>
             <p>Date you added: {{Album.year}}</p>
             <p>Artist: {{Album.artist}}</p>
             <p>Label: {{Album.label}}</p>
             <p>Genre: {{Album.genre}}</p>
             <hr>
        {% endfor %}
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

{% endblock %}