{% extends 'curator/base.html' %}

{% block title %}
    Album Collection
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4 text-capitalize">Hello, {{  user.username}}!</h1>
        <p class="lead">Welcome to your Album Collection!.</p>
        <hr class="my-4">
        <p>These are all the albums you've added.</p>
        {% for Album in Albums %}
             <p>
                {{Album.title}}
                {{Album.year}}
                {{Album.artist}}
                {{Album.label}}
                {{Album.genre}}
             </p>
        {% endfor %}
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

{% endblock %}