{% extends 'curator/base.html' %}

{% block title %}
    Book Collection
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4 text-capitalize">Hello, {{  user.username}}!</h1>
        <p class="lead">Welcome to your Book Collection!.</p>
        <hr class="my-4">
        <p>These are all the books you've added.</p>
        {% for Book in Books %}
            <h5>Title: {{Book.title}}</h5>
            <p>Date you added: {{Book.year}}</p>
            <p>Author: {{Book.author}}</p>
            <p>Publisher: {{Book.publisher}}</p>
            <p>Genre: {{Book.genre}}</p>
            <hr>
        {% endfor %}
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

{% endblock %}