{% extends 'curator/base.html' %}

{% block title %}
    Book Collection
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4 text-capitalize">Hello, {{  user.username}}!</h1>
        <p class="lead">Welcome to your Book Collection!.</p>
        <hr class="my-4">

        <div class="container">
            <form action="{%  url 'add_book' %}" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter Name of Book" name="title" required>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">ADD</button>
                    </div>
                </div>
            </form>
        </div>

        <p>These are all the books you've added.</p>
        {% for Book in Books %}
            <h5>Title: {{Book.title}}</h5>
{#            <p>Date you added: {{Book.year}}</p>#}
            <p>Author: {{Book.author}}</p>
            <p>Publisher: {{Book.publisher}}</p>
            <p>Genre: {{Book.genre}}</p>
                <a href="{% url 'update_book' Book.id %}"> Update</a>
                <a href="{% url 'delete_book' Book.id %}"> Delete</a>
            <hr>
        {% endfor %}
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

{% endblock %}