{% extends 'curator/base.html' %}
{% load static %}

{% block title %}
Credits
{% endblock %}

{% block body %}

    <h1 style="text-align: center;">Credits</h1>
    <div>
        <p>This masterpiece before you is the culmination of Ian Tierney and Josh Schilling putting in maximum effort
        to produce a web app as a final project for their Web Programming class CS 416 at CCSU with Professor Albayram.
        No work had started until roughly a week before the due date when Josh, God bless the man, remarked to Ian that
        maybe, just maybe, this project deserved their consideration. Sensing the wisdom in this, Ian vehemently
        concurred, claiming they'd, "bang the sucker out no problem, and with enough time to spare for a day trip to
        Boston. Alas, day trips are out of the question what with Covid, but they did (debatably) finish the website in
        time.</p>
    </div>

    <div class="container credits">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid rounded" alt="ian" src="{% static 'images/ianprofile.jpg' %}">
                <br>
                <h4>Ian Tierney</h4>
                <p>Co-creator</p>
                <p>Getting actual use out of his dating profile pic for the first time ever</p>
            </div>
            <div class="col-md-4">
                <img class="img-fluid rounded" alt="josh" src="{% static 'images/josh_profile.jpg' %}">
                <br>
                <h4>Josh Schilling</h4>
                <p>Co-creator</p>
                <p>So mysterious you can't prove he's not a genius playboy billionaire</p>
            </div>
            <div class="col-md-4">
                <img class="img-fluid rounded" alt="yusuf" src="{% static 'images/yusufprofile.jpg' %}">
                <br>
                <h4>Yusuf Albayram</h4>
                <p>Professor</p>
                <p>Endless font of knowledge without whom none of this would have been possible</p>
            </div>
        </div>
    </div>
{% endblock %}