{% extends 'curator/base.html' %}
{% load static %}

{% block title %}
Credits
{% endblock %}

{% block body %}


    <div class="container credits">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" alt="ian" src="{% static 'images/ianprofile.jpg' %}">
                <br>
                <h4>Ian Tierney</h4>
                <p>Co-creator</p>
                <p>Getting actual use out of his dating profile pic for the first time ever</p>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" alt="josh" src="{% static 'images/josh_profile.jpg' %}">
                <br>
                <h4>Josh Schilling</h4>
                <p>Co-creator</p>
                <p>So mysterious you can't prove he's not a genius playboy billionaire</p>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" alt="yusuf" src="{% static 'images/yusufprofile.jpg' %}">
                <br>
                <h4>Yusuf Albayram</h4>
                <p>Professor</p>
                <p>Endless font of knowledge without whom none of this would have been possible</p>
            </div>
        </div>
    </div>
{% endblock %}