{% extends 'curator/base.html' %}
{% load static %}

{% block title %}
Credits
{% endblock %}

{% block body %}
    <div class="container credits">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" alt="ian" src="{% static 'images/ianprofile.jpg' %}">
            </div>
            <div class="col-md-4">
                <img class="img-fluid" alt="josh" src="{% static 'images/joshprofile.jpg' %}">
            </div>
            <div class="col-md-4">
                <img class="img-fluid" alt="yusuf" src="{% static 'images/yusufprofile.jpg' %}">
            </div>
        </div>
    </div>
{% endblock %}