{% extends 'curator/base.html' %}
{% load static %}
{% block title %}
    Index Page
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4 text-capitalize">Hello, {{  user.username}}!</h1>
        <p class="lead">Welcome to the #1 rated movie, album and book collection site from CS 416 </p>
        <hr class="my-4">
        <p>2/2 Group Members Recommend!</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'update_album' %}">Start An Album Collection</a>
    <img class="img-fluid" alt="book" src={% static 'images/album.jpg' %} >
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'update_book' %}">Start A Book Collection</a>
    <img class="img-fluid" alt="book" src={% static 'images/book.jpg' %} >
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'update_movie' %}">Start A Movie Collection</a>
    <img class="img-fluid" alt="book" src={% static 'images/movie.jpg' %} >

{% endblock %}