{% extends 'curator/base.html' %}

{% block title %}
    Movie Collection
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4 text-capitalize">Hello, {{  user.username}}!</h1>
        <p class="lead">Welcome to your Movie Collection!.</p>
        <hr class="my-4">
        <h1>These are all the movies you've added.</h1>
        {% for Movie in Movies %}
            <h4>{{ Movie.title}}</h4>
            <br>
        {% endfor %}
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

{% endblock %}