{% extends 'curator/base.html' %}

{% block title %}
    Movie Collection
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4 text-capitalize">Hello, {{  user.username}}!</h1>
        <p class="lead">Welcome to your Movie Collection!</p>
        <hr class="my-4">

{#    add button to add a new entry with just title, experiment 1:#}
{#    <form action="{% url 'add_movie' %}" method="post">#}
{#        {% csrf_token %}#}
{##}
{#        <div class="input-group mb-3">#}
{#            <input type="text" class="form-control" placeholder="Add Movie" name="movie" aria-label="add movie" aria-describedby="button-addon2">#}
{#            <div class="input-group-append">#}
{#                <button class="btn btn-primary" type="submit" name="movie">ADD</button>#}
{#            </div>#}
{#        </div>#}
{#    </form>#}
         <div class="container">
            <form action="{%  url 'movie' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Add">
            </form>
         </div>

        <p>These are all the movies you've added.</p>
        {% for Movie in Movies %}
            <h5>Title: {{ Movie.title}}</h5>
{#            <p>Date you added: {{ Movie.year}}</p>#}
            <p>Director: {{ Movie.director}}</p>
            <p>Studio: {{ Movie.studio}}</p>
            <p>Genre: {{ Movie.genre}}</p>
                <a href="{% url 'update_movie' Movie.id %}"> Update</a>
                <a href="{% url 'delete_movie' Movie.id %}"> Delete</a>
            <hr>


        {% endfor %}
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

{% endblock %}