{% extends 'curator/base.html' %}
{% load crispy_forms_filters %}
{% block title %}
    <title>Movie Entry</title>
{% endblock %}

{% block body %}
    <h1>Enter Your Movie Details</h1>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary btn-lg" type="submit" value="Enter">
            <a class="btn btn-primary btn-lg" href="{% url 'movie' %}" role="button">Go back</a>
        </form>
    </div>

{% endblock %}